TurakasTest/Service References/ServiceReference1/TurakasServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TurakasServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TurakasServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfServiceUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceUser" nillable="true" type="tns:ServiceUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceUser" nillable="true" type="tns:ArrayOfServiceUser" />
  <xs:complexType name="ServiceUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardsInHand" type="xs:int" />
      <xs:element minOccurs="0" name="Finished" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceUser" nillable="true" type="tns:ServiceUser" />
  <xs:complexType name="ArrayOfGame">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Game" nillable="true" type="tns:Game" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGame" nillable="true" type="tns:ArrayOfGame" />
  <xs:complexType name="Game">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Deck" nillable="true" type="tns:ArrayOfServiceCard" />
      <xs:element minOccurs="0" name="HitsIndex" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Joiners" nillable="true" type="tns:ArrayOfServiceUser" />
      <xs:element minOccurs="0" name="MovesIndex" type="xs:int" />
      <xs:element minOccurs="0" name="NrOfCardsOnTable" type="xs:int" />
      <xs:element minOccurs="0" name="Owner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PickedUp" type="xs:boolean" />
      <xs:element minOccurs="0" name="Players" nillable="true" type="tns:ArrayOfServiceUser" />
      <xs:element minOccurs="0" name="State" type="xs:int" />
      <xs:element minOccurs="0" name="TopCardIndex" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Game" nillable="true" type="tns:Game" />
  <xs:complexType name="ArrayOfServiceCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceCard" nillable="true" type="tns:ServiceCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceCard" nillable="true" type="tns:ArrayOfServiceCard" />
  <xs:complexType name="ServiceCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="Kind" type="xs:int" />
      <xs:element minOccurs="0" name="Rank" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceCard" nillable="true" type="tns:ServiceCard" />
</xs:schema>