Turakas/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Teenus" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ITeenus_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/TurakasServiceLibrary" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITeenus_getSubscribers_InputMessage">
    <wsdl:part name="parameters" element="tns:getSubscribers" />
  </wsdl:message>
  <wsdl:message name="ITeenus_getSubscribers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSubscribersResponse" />
  </wsdl:message>
  <wsdl:message name="ITeenus_getNewGameAndPlayerId_InputMessage">
    <wsdl:part name="parameters" element="tns:getNewGameAndPlayerId" />
  </wsdl:message>
  <wsdl:message name="ITeenus_getNewGameAndPlayerId_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNewGameAndPlayerIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITeenus_addPlayerToGame_InputMessage">
    <wsdl:part name="parameters" element="tns:addPlayerToGame" />
  </wsdl:message>
  <wsdl:message name="ITeenus_addPlayerToGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:addPlayerToGameResponse" />
  </wsdl:message>
  <wsdl:message name="ITeenus_hit_InputMessage">
    <wsdl:part name="parameters" element="tns:hit" />
  </wsdl:message>
  <wsdl:message name="ITeenus_hit_OutputMessage">
    <wsdl:part name="parameters" element="tns:hitResponse" />
  </wsdl:message>
  <wsdl:message name="ITeenus_move_InputMessage">
    <wsdl:part name="parameters" element="tns:move" />
  </wsdl:message>
  <wsdl:message name="ITeenus_move_OutputMessage">
    <wsdl:part name="parameters" element="tns:moveResponse" />
  </wsdl:message>
  <wsdl:message name="ITeenus_subscribeTogame_InputMessage">
    <wsdl:part name="parameters" element="tns:subscribeTogame" />
  </wsdl:message>
  <wsdl:message name="ITeenus_subscribeTogame_OutputMessage">
    <wsdl:part name="parameters" element="tns:subscribeTogameResponse" />
  </wsdl:message>
  <wsdl:message name="ITeenus_sendChatMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:sendChatMessage" />
  </wsdl:message>
  <wsdl:message name="ITeenus_sendChatMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendChatMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ITeenus_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="ITeenus_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="ITeenus_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="ITeenus_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="ITeenus_gameEnded_InputMessage">
    <wsdl:part name="parameters" element="tns:gameEnded" />
  </wsdl:message>
  <wsdl:message name="ITeenus_gameEnded_OutputMessage">
    <wsdl:part name="parameters" element="tns:gameEndedResponse" />
  </wsdl:message>
  <wsdl:message name="ITeenus_onChatMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:onChatMessage" />
  </wsdl:message>
  <wsdl:message name="ITeenus_onGetContacts_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:onGetContacts" />
  </wsdl:message>
  <wsdl:message name="ITeenus_onHit_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:onHit" />
  </wsdl:message>
  <wsdl:message name="ITeenus_onMove_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:onMove" />
  </wsdl:message>
  <wsdl:portType name="ITeenus">
    <wsdl:operation name="getSubscribers">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeenus/getSubscribers" message="tns:ITeenus_getSubscribers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeenus/getSubscribersResponse" message="tns:ITeenus_getSubscribers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNewGameAndPlayerId">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeenus/getNewGameAndPlayerId" message="tns:ITeenus_getNewGameAndPlayerId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeenus/getNewGameAndPlayerIdResponse" message="tns:ITeenus_getNewGameAndPlayerId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addPlayerToGame">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeenus/addPlayerToGame" message="tns:ITeenus_addPlayerToGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeenus/addPlayerToGameResponse" message="tns:ITeenus_addPlayerToGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="hit">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeenus/hit" message="tns:ITeenus_hit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeenus/hitResponse" message="tns:ITeenus_hit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="move">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeenus/move" message="tns:ITeenus_move_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeenus/moveResponse" message="tns:ITeenus_move_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="subscribeTogame">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeenus/subscribeTogame" message="tns:ITeenus_subscribeTogame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeenus/subscribeTogameResponse" message="tns:ITeenus_subscribeTogame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendChatMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeenus/sendChatMessage" message="tns:ITeenus_sendChatMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeenus/sendChatMessageResponse" message="tns:ITeenus_sendChatMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeenus/Subscribe" message="tns:ITeenus_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeenus/SubscribeResponse" message="tns:ITeenus_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeenus/Unsubscribe" message="tns:ITeenus_Unsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeenus/UnsubscribeResponse" message="tns:ITeenus_Unsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="gameEnded">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeenus/gameEnded" message="tns:ITeenus_gameEnded_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeenus/gameEndedResponse" message="tns:ITeenus_gameEnded_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="onChatMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/ITeenus/onChatMessage" message="tns:ITeenus_onChatMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="onGetContacts">
      <wsdl:output wsaw:Action="http://tempuri.org/ITeenus/onGetContacts" message="tns:ITeenus_onGetContacts_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="onHit">
      <wsdl:output wsaw:Action="http://tempuri.org/ITeenus/onHit" message="tns:ITeenus_onHit_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="onMove">
      <wsdl:output wsaw:Action="http://tempuri.org/ITeenus/onMove" message="tns:ITeenus_onMove_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ITeenus" type="tns:ITeenus">
    <wsp:PolicyReference URI="#NetTcpBinding_ITeenus_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="getSubscribers">
      <soap12:operation soapAction="http://tempuri.org/ITeenus/getSubscribers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNewGameAndPlayerId">
      <soap12:operation soapAction="http://tempuri.org/ITeenus/getNewGameAndPlayerId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPlayerToGame">
      <soap12:operation soapAction="http://tempuri.org/ITeenus/addPlayerToGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hit">
      <soap12:operation soapAction="http://tempuri.org/ITeenus/hit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="move">
      <soap12:operation soapAction="http://tempuri.org/ITeenus/move" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="subscribeTogame">
      <soap12:operation soapAction="http://tempuri.org/ITeenus/subscribeTogame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendChatMessage">
      <soap12:operation soapAction="http://tempuri.org/ITeenus/sendChatMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/ITeenus/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <soap12:operation soapAction="http://tempuri.org/ITeenus/Unsubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gameEnded">
      <soap12:operation soapAction="http://tempuri.org/ITeenus/gameEnded" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="onChatMessage">
      <soap12:operation soapAction="http://tempuri.org/ITeenus/onChatMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="onGetContacts">
      <soap12:operation soapAction="http://tempuri.org/ITeenus/onGetContacts" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="onHit">
      <soap12:operation soapAction="http://tempuri.org/ITeenus/onHit" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="onMove">
      <soap12:operation soapAction="http://tempuri.org/ITeenus/onMove" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Teenus">
    <wsdl:port name="NetTcpBinding_ITeenus" binding="tns:NetTcpBinding_ITeenus">
      <soap12:address location="net.tcp://localhost:11/Service1.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:11/Service1.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>