Turakas/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TurakasServiceLibrary" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="getSubscribers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TurakasServiceLibrary" minOccurs="0" name="game" nillable="true" type="q1:ServiceGame" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubscribersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TurakasServiceLibrary" minOccurs="0" name="getSubscribersResult" nillable="true" type="q2:ArrayOfServicePlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNewGameAndPlayerId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TurakasServiceLibrary" minOccurs="0" name="p" nillable="true" type="q3:ServicePlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNewGameAndPlayerIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getNewGameAndPlayerIdResult" nillable="true" type="q4:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPlayerToGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TurakasServiceLibrary" minOccurs="0" name="game" nillable="true" type="q5:ServiceGame" />
        <xs:element minOccurs="0" name="newPlayer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPlayerToGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="hit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TurakasServiceLibrary" minOccurs="0" name="target" nillable="true" type="q6:ServiceCard" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TurakasServiceLibrary" minOccurs="0" name="hit" nillable="true" type="q7:ServiceCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TurakasServiceLibrary" minOccurs="0" name="hitResult" nillable="true" type="q8:ServiceCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="move">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="card_rank" type="xs:int" />
        <xs:element minOccurs="0" name="card_kind" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="moveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TurakasServiceLibrary" minOccurs="0" name="moveResult" nillable="true" type="q9:ServiceCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="subscribeTogame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="game" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="subscribeTogameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TurakasServiceLibrary" minOccurs="0" name="subscribeTogameResult" nillable="true" type="q10:ServiceCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendChatMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gameId" type="xs:int" />
        <xs:element minOccurs="0" name="fromID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendChatMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsubscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="gameEnded">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="gameEndedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="onChatMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="onGetContacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="contacts" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="onHit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TurakasServiceLibrary" minOccurs="0" name="hit" nillable="true" type="q12:ServiceCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="onMove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TurakasServiceLibrary" minOccurs="0" name="card" nillable="true" type="q13:ServiceCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>